{% include 'layout.html' %}

<div class="container mt-4">
  <div class="card">
    <div class="card-header">Add Todo</div>

    <div class="card-body">
      <form action="/todos/add-todo" method="post">

        <div class="mb-3">
          <label>Title</label>
          <input type="text" name="title" class="form-control" required>
        </div>

        <div class="mb-3">
          <label>Description</label>
          <textarea name="description" class="form-control" required></textarea>
        </div>

        <div class="mb-3">
          <label>Priority</label>
          <select name="priority" class="form-control">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select>
        </div>

        <button class="btn btn-primary">Add Todo</button>
        <a href="/todos/todo-page" class="btn btn-secondary">Back</a>

      </form>
    </div>
  </div>
</div>
