{% include 'layout.html' %}

<div class="container mt-4">
  <div class="card">
    <div class="card-header">Edit Todo</div>

    <div class="card-body">
<!--      <form action="/todos/edit-todo/{{ todo.id }}" method="post">-->
      <form id="editTodoForm" action="/todos/edit-todo/{{ todo.id }}" method="post">

        <div class="mb-3">
          <label>Title</label>
          <input type="text" name="title" value="{{ todo.title }}" class="form-control" required>
        </div>

        <div class="mb-3">
          <label>Description</label>
          <textarea name="description" class="form-control" required>{{ todo.description }}</textarea>
        </div>

        <div class="mb-3">
          <label>Priority</label>
          <select name="priority" class="form-control">
            {% for i in range(1,6) %}
              <option value="{{ i }}" {% if todo.priority == i %}selected{% endif %}>
                {{ i }}
              </option>
            {% endfor %}
          </select>
        </div>
          <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" name="complete" {% if todo.complete %} checked {% endif %}>
          <label class="form-check-label">Complete</label>
        </div>

        <button class="btn btn-success">Update</button>
          <button id="deleteButton" type="button" class="btn btn-danger">Delete</button>
        <a href="/todos/todo-page" class="btn btn-secondary">Back</a>

      </form>
    </div>
  </div>
</div>
