<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='/css/base.css') }}?v=1">  <!-- Every time you change CSS, increase v.-->
                             <!--          href="{{url_for('static',path = '/css/base.css')}}">-->
     <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='/css/bootstrap.css') }}?v=1">


    <meta charset="UTF-8">
    <title>Todo App</title>
</head>
<body>
<h1>
    Welcome to the FastAPI course
</h1>
</body>
</html>